* {
    font-family: "Microsoft YaHei";
}

.content {
    width: 1200px;
    margin: auto;
    /* background-color: black; */
}

.jx-header {
    width: 100%;
    height: 27px;
    line-height: 27px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    /* overflow: hidden; */
}

.jx-header .welcome {
    font-size: 12px;
    color: #999999;
}

.jx-header a {
    color: #999999;
}

.jx-header a:hover {
    color: #cc0000;
    text-decoration: underline;
    font-size: 12px;
}

.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.icont {
    display: inline-block;
    width: 7px;
    height: 3px;
}

.car {
    background: url(../images/public-24.png) no-repeat -18px 0px;
}

.phone {
    background: url(../images/public-24.png) no-repeat -62px 0px;
    margin-right: 6px;
}

.net {
    background: url(../images/public-24.png) no-repeat -80px 0px;
    margin-right: 6px;
}

.line {
    border-right: 1px solid #999999;
}

.cust {
    margin-right: 5px;
    background: url(../images/public-24.png) no-repeat -90px -265px;
}

.triangle {
    background: url(../images/public-24.png) no-repeat -100px 0px;
    margin: 5px 1px 5px 3px;
}

.jx_top_ul {
    text-align: center;
}

.jx_top_ul>li {
    float: left;
    position: relative;
    margin-right: 5px;
    text-align: center;
    font-size: 12px;
}

.hd-n1 {
    padding: 0 4px 0 7px;
}

.hd-n2 {
    padding: 0 0 0 7px;
}

.jx_top_ul>li>a {
    padding: 0px 5px;
    line-height: 12px;
}

.my_info {
    width: 74px;
    height: 89px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #fff;
}

.net_leader {
    width: 207px;
    height: 320px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 27px;
    display: none;
    background-color: #fff;
}

.net_leader>li {
    padding: 0px 21px;
    box-sizing: border-box;
}

.net_leader h3 {
    text-align: left;
    color: #333333;
    padding-top: 15px;
}

.hotline {
    width: 100%;
    height: 44px;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    text-align: left;
    line-height: 44px;
}

.net_leader span {
    color: #c5c5c5;
}

.img_phone {
    position: absolute;
    left: 0;
    top: 27px;
    display: none;
}

.text {
    color: #333333;
}

.num {
    color: #cc0000;
    font-weight: bold;
}

.img_title {
    height: 90px;
    background: url(../images/top.jpg) no-repeat center center;

}

.search_content {
    height: 125px;
    padding-top: 32px;
    box-sizing: border-box;
}

.search_box {
    width: 540px;
    height: 38px;
    border: 3px solid #cc0000;
    position: relative;
    box-sizing: border-box;
    margin-left: 8px;
}

.search_box>input {
    width: 449px;
    background-color: #fff;
    height: 100%;
}

.search_img {
    float: left;
}

.search_img>img {
    margin-right: 15px;
}

.search_btn {
    width: 88px;
    height: 100%;
    background-color: #cc0000;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #fff;

}

.box {
    float: left;
}


.p_text {
    margin-top: 8px;
}

.box .p_text>a {
    padding: 0 8px;
    border-right: 1px solid #999999;
    line-height: 12px;
    font-size: 12px;
}

.icon_box {
    width: 363px;
    height: 64px;
}

.icon_box .icon {
    width: 43px;
    height: 43px;
    margin-right: 10px;
}

.icon_box>div {
    margin-right: 10px;
}

.free {
    background: url(../images/public-24.png) no-repeat 0 -22px;
}

.pay {
    background: url(../images/public-24.png) no-repeat -48px -22px;
}

.way {
    width: 106px;
}

.card {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.card img {
    width: 100%;
    height: 100%;
}

/* 导航样式 */
.nav {
    background-color: #990000;
    /* background-color: black; */
}

.nav_title {
    height: 34px;
    color: #666666;

}

.nav_title>h2 {
    color: #fff;
    background-color: #CE171F;
    font-size: 14px;
    float: left;
    line-height: 34px;
    width: 190px;
    text-align: center;
}

.nav_title .title_a >a {
    padding: 0 22px;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
}